@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700);
$font-family-base: Montserrat;
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
$headings-font-family: Nunito;

$primary: #222222;
$secondary: #666666;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #eceeec;
$dark: #111111;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.text-xs {
  font-size: x-small;
}

.text-sm {
  font-size: small;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-xxl {
  font-size: xx-large;
}

.text-dynamic {
  font-size: 0.75rem;
}